* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
button {
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}
#dice1 {
  display: inline-block;
  height: 400px;
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size:80px;
  text-align: center;
  line-height: 400px;
}

#dice2 {
  display: inline-block;
  height: 400px;
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size:80px;
  text-align: center;
  line-height: 400px;
}

.result_1{
 background: url('../images/inverted-dice-1.svg') no-repeat;
}
.result_2{
 background: url('../images/inverted-dice-2.svg') no-repeat;
}
.result_3{
 background: url('../images/inverted-dice-3.svg') no-repeat;
}
.result_4{
 background: url('../images/inverted-dice-4.svg') no-repeat;
}
.result_5{
 background: url('../images/inverted-dice-5.svg') no-repeat;
}
.result_6{
 background: url('../images/inverted-dice-6.svg') no-repeat;
}
